#cover{
    display: flex;
    flex-direction: column;
    border: 1px solid hsl(0, 0%, 0%, .3);
    width: 30%;
    text-align: center;
    float: right;
    margin-left: 20px;
    margin-top: 20px;
    background-color: hsl(0, 0%, 95%);
}

h1, h2, h3, h4{
    font-family: MedievalSharp
}

#cover h2{
    margin: 0px;
    border-bottom: 1px solid hsl(0, 0%, 0%, .3);
    background-color: hsl(0, 0%, 50%);
}

#cover h3{
    margin: 0px;
    border-bottom: 1px solid hsl(0, 0%, 0%, .3);
    background-color: hsl(0, 0%, 70%);
}

#cover > img {
    height: 400px;
    width: auto;
    max-width: 100%;
    align-self: center;
    flex: 0 0 auto;
}

#coverImageSwaps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    border-bottom: 1px solid hsl(0, 0%, 0%, .3);
}

#coverImageSwaps button{
    font-size: 1.3rem;
    color: black;
    border: none;
    background-color: hsl(0, 0%, 95%);
    max-width: 100%;
}

#coverImageSwaps button:hover{
    background-color: hsl(186, 100%, 82%);
}

#cover dl{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0px;
}

#cover dl > *{
    border: 1px solid hsl(0, 0%, 0%, .3);
    margin: 0px;
    padding: 3px 10px;
    text-align: left;
}

#cover dt{
    background-color: red;
    color: white;
}

#cover dd{
    color: black;
}

#intro{
    position: relative;
}

#THETITLE{
    font-family: MedievalSharp
}

#editPageButton{
    position: absolute;
    top: 10px;
    right: 110px;
}

#deletePageButton{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: hsl(0, 100%, 80%);
}


#toc{
    border: 1px solid hsl(0, 0%, 0%, .3);
    border-radius: 5px;
    width: 30%;
    margin: 0px;
}

#toc i, #toc h4{
    padding: 5px;
    font-size: 1.1rem;
}

#section_links{
    border-top: 1px solid hsl(0, 0%, 0%, .3);
    padding: 5px;
    line-height: 1.8;
}

#section_links a{
    color: black;
    text-decoration: none;
    background-color: transparent;
    transition: background-color 0.5s ease; /* fade over 0.5s */
}

#section_links a:hover{
    background-color: hsl(198, 100%, 79%);
}

.textArea{
    line-height: 1.75;
    white-space: pre-wrap;
}

.imageDesc{
    font-style: italic;
    font-size: .9rem;
    margin-left: 30px;
}

section img{
    cursor: pointer;
}

ul, ol{
    line-height: 1.8
}