body{
    background-color: rgb(12, 90, 219);
}

main{
    background-color: white;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#logo{
    height: 300px;
}

#header{
    font-size: 3.5rem;
}

.links{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 44px;
    font-size: 2.5rem;
}

.links a, .links a:visited{
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: black
}
    
.links a:hover, #submit:hover{
    color: rgb(12, 90, 219);
}

#back{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2rem;
    border-radius: 15px;
    padding: 1px 12px;
}

#submit{
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: black;
    margin: 20px 0px;
    width: 40%;
    font-size: 2.5rem;
    background-color: white;
}