body{
    background-color: rgb(12, 90, 219);
}

main{
    background-color: white;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#logo{
    height: 300px;
}

#header{
    font-size: 3.5rem;
}

.links{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 44px;
    font-size: 2.5rem;
}

.links a, .links a:visited{
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: black
}
    
.links a:hover, #submitImages:hover, #submitFont:hover{
    color: rgb(12, 90, 219);
}

#back{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2rem;
    border-radius: 15px;
    padding: 1px 12px;
}

#submitImages, #submitFont{
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: black;
    margin: 20px 0px;
    width: 40%;
    font-size: 2.5rem;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 3;
}

#imageSettings{
    background-color: hsl(0, 0%, 80%);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

#fontSelectorDiv{
    background-color: hsl(0, 0%, 80%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    place-items: center;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

#fontSelectorDiv > button{
    grid-column-end: 3;
    grid-column-start: 1;
}

#headerFont{
    height: 40px;
}